<div class="famer" id="aaron">
  <p class="famer-name">#16. Aaron Tenbuuren</p>

  <div class="famer-main">
    <p>Aaron and I met for the first time during our freshman year, when we lived on the same floor of Melvin Hall, but we began to get to know each other in Type 1, where I would consistently get more compliments from the teacher than him — we sat side by side and the damage to his ego is what finally led him to agree to live with me.</p>
    <p>Aaron lived in a small studio apartment during our third year of college, I first saw it at his cat Mowgli’s first birthday party. I lived in a two bedroom apartment three blocks away. We got a place together roughly in the middle — on move in day we rolled all our possessions downhill on a small caddy. It took 16 hours.</p>
    <p>The two best pizza spots near our apartment were Il Mondo and Penguin Pizza — Penguin is the origin of my zero tolerance “no leaves” policy. Penguin puts huge basil leaves over their pies and it doesn't make sense — walk through these options with me: do they want me to bite into a leaf? Do they think it changes the flavor or looks good? It looks like a damp leaf, which I must carefully pick up with the tips of my fingers to avoid removing cheese. I would always specify "no leaves.”</p>
    <p>When I asked if Aaron had any requests for this pizza he said:</p>
    <ul>
      <li>Large cheese, no leaves</li>
      <li>Ranch</li>
      <li>Chocolate milk for beverage</li>
      <li>Ambient lights</li>
      <li>Grant MacDonald</li>
    </ul>
    <p>That’s how you know we lived together.</p>
    <p>Unfortunately I forgot to do 4/5 requests, and forgot to text Aaron when I started the fb live broadcast, which he missed…</p>
    <%= s3_image_tag('aaron_text.jpg') %>
    <%= s3_image_tag('aaron_penguin.jpg') %>
    <p>Shit.</p>
  </div>
</div>
