<div class="famer" id="alex">
  <p class="famer-name">#2. Alex Godin</p>

  <div class="famer-main">
    <iframe
      class="famer-main-mainvideo"
      width="560"
      height="315"
      src="//www.youtube.com/embed/Vo18tkgMtrs?t=25&rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p>Well this is another person I know so let’s consider this website “in stealth mode.” If nothing else though, getting your friends to buy you pizza for no reason is pretty cool. I think Alex just wants to see me make another pizza-eating time-lapse.</p>
    <p>Alex is the proud first customer to click through and (maybe) read all my text. I know this because he bought me the discount $12 pizza, which is only available after clicking every link on this page. I kept a very short diary while waiting for the pizza:</p>
    <ul>
      <li>Just ordered my pizza while walking home from work. I feel so on-the-go, so New York, so multitask. I only live three blocks from work though.</li>
      <li>Ordered the same thing from the same place, but extra cheese this time. We’ll see how it compares.</li>
      <li>I think I wanna try stacking slices together to see if I can down the whole pizza without realizing how full I am. It will hurt but I have confidence.</li>
      <li>This website makes “evening alone eating pizza” feel like an event… Is that a bad thing?</li>
      <li>Good lord it came. One dollar extra for the extra cheese. Took exactly 45 minutes.</li>
      <li>Maybe extra cheese is a bad call. The pizza is extra greasy. These people are professionals and know the correct balance of cheese and sauce — me coming in and telling them to add more or less of something is a slap in the face. I learned this from Jiro Dreams of Sushi and it’s been reinforced by NYC pizza.</li>
    </ul>
    <p>I learned my lesson and will not order extra cheese again. I can feel the pizza inside me when I move. Do you think jaw movement contributes to how full you feel? If I swallowed the pizza whole, would I feel less full?</p>
    <p>For this timelapse I mounted my camera inside a pair of binoculars and perched them on my bookcase — came out so much better than the close-up video I did for Stephen. Sorry Stephen.</p>
    <p>Alex received an email with proof of purchase, the full time-lapse video, and a bonus photo of me gurning from a few nights ago. This could be you bae but you tripping’.</p>
  </div>
</div>
