<div class="famer" id="ali">
  <p class="famer-name">#14. Ali Ukani</p>

  <div class="famer-main">
    <p>I’ve been a little slow in writing these posts lately, so when I go back and watch the pizza time-lapse for Ali, it’s kinda like watching it for the first time. Two very important things stand out to me: demanding no leaves be placed over your pizza, and using an adequate ice cream spoon.</p>
    <p>Take a look at those massive leaves all over the pizza. Disgusting, soggy leaves. There are some who claim it adds flavor but I don’t see how that’s possible, especially considering the cheese and sauce are quite overpowering. At best the leaves are an annoyance which must be removed before enjoying your meal, and at worst they subtract from the amount of cheese on the slice. I’ll even go as far as to specify “no leaves” when I order from a known offender, but unfortunately Table 87 got the best of me.</p>
    <p>Anyways, about ice cream spoons. I live pretty close to an IKEA, which is great for an out-of-college apartment since I had to buy everything from towels to silverware when I moved to New York. IKEA is interesting because a lot of the customers are there to get stuff for their newborns and toddlers, so you can see the demographics of who in Brooklyn is having kids. Unfortunately these kids are bound to discover what I did: IKEA spoons suck. When you try to drive an IKEA spoon into some fresh-from-the-freezer ice cream and then pull it out, the spoon bends — the ice cream is stronger than the spoon!</p>
    <p>After months of hardship and ice cream fasting I decided to spend some serious cash on a few very high quality ice cream spoons — I went to Muji. Muji is interesting because it’s an amazing paradise on earth, where the bedding is comfier than is physically possible and the unassuming tables are $800. Muji sells silverware a la carte and they happen to have unbreakable spoons that are at least three times as thick as IKEA’s but also $5 each — you can see one of these spoons in the video — watch how easily I slice through the cream.</p>
  </div>
</div>
