<div class="famer" id="ben_g">
  <p class="famer-name">#20. Ben Gross</p>
  <div class="famer-main">
    <iframe
      class="famer-main-mainvideo"
      width="560"
      height="315"
      src="//www.youtube.com/embed/x6I7UmvFuTg?t=25&rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>

