<div class="famer stickem-container" id="ben_o">
  <p class="famer-name">Ben Orenstein</p>

  <%= render partial: "partials/famer_video", locals: { video_id: "DSOssUb6l7w" } %>

  <div class="famer-main">
    <p>Ho boy I’m back on the horse. It’s been like 2 weeks since I ate any pizza, and I have three orders in my backlog. I’ve been bad.</p>
    <p>So much on my mind: how can I spice things up so people don’t lose interest, how can I redesign the site to accommodate “stories” and notes like this one. Should I film myself eating in a restaurant? Should I attempt to eat two pizzas at once? Should I add an element out of my control???</p>
    <p>Anyways I’ve decided to answer none of these questions and just do the same thing I’ve done each time so far: order from the cold phone-answering-man at Pauline and Sharon’s (I put their contact info in my phone) and record myself from the top of my bookshelf.</p>
    <p>This one is from my bro Ben Orenstein. He even bought the $15 version. Funny thing about this one though: I asked Ben to tweet about my website — it was national cheese pizza day and I wanted to do a media push, so I texted some friends to help me promote. The first friend I contacted did tweet about it, but texted me 10 minutes later saying “not a lot of action yet, feeling kind of exposed.” Ben *didn’t* tweet about it, but did buy me a pizza. Feels somewhat like a pity-buy, but I’m down for free pizza regardless.</p>
    <p>You know I was probably gonna do this last week, but I dropped my phone into the toilet (texting while peeing, very dangerous), and when you don’t have a phone (or an apartment buzzer) it’s basically impossible to get pizza delivery.</p>
    <p>If my tweet plan had worked and I had gone viral and gotten 100 orders, you think people would be mad if I arranged some large pizza party and ate only a single bite from each pizza? I seems like it would violate the rules, so maybe I should change the rules.</p>
    <p>I wonder how Ben feels about ranch.</p>
    <p>You know there’s this pizza place near me called Giardini’s or something and I got delivery from those guys when I first moved in. I was unimpressed and never ordered again, but I walked by there the other day and it looked so classic: the counter, the big red coke machine, the $5 special posters, the menu with white movable letters. I gotta eat there in-person.</p>
    <p>This pizza was delivered in only 32 minutes!</p>
    <p>I need to send Hidden Valley a complaint about this applicator malfunction. I’m sitting here pouring ranch dollops onto my plate like an idiot. I need precision.</p>
    <p>I was trying to switching things up this time, so I took a slow-motion video of myself eating a slice of pizza — I’ve been taking fast, far-away videos for too long. Unfortunately it turned out incredibly disgusting, much more so than the intentional level of disgusting, and I don’t think any of my friends would want to stay friends with me if I posted it online. I look like a child molester.</p>
  </div>
</div>
