<div class="famer" id="ben_w">
  <p class="famer-name">#3. Ben Whitla</p>

  <div class="famer-main">
    <iframe
      class="famer-main-mainvideo"
      width="560"
      height="315"
      src="//www.youtube.com/embed/bonGYH8iepg?t=25&rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p>MY THIRD PIZZA! I think I’m gonna burn out soon, or at least stop thinking of things to write about. I should do something other than a time-lapse for this pizza…</p>
    <p>Just ordered. Don’t feel too hungry right now and I thought about branching out into some special toppings, but I only have $20 cash in my apartment and I’d have to walk three blocks to the bank in 91 degrees to get more money. Plus why would I get delivery if I were in the mood to walk three blocks.</p>
    <p>Gonna share this one with Jillian. I guess I should update the website so I can share the pizza without feeling guilty.</p>
    <p>I just converted the site from Sinatra to Rails and I’m gonna do a big update soon. Gonna be dope. Thinking of taking away the $12 option.</p>
    <p>Jillian is here now but the pizza is not :( kill me.</p>
    <p><small>Geeze I’m editing posts right now and this one is not very entertaining.</small></p>
  </div>
</div>
