<p class="famer-name">Ben Whitla</p>
<p class="famer-timeline">bought 7/17/15, pending</p>

<div class="famer-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Vo18tkgMtrs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="famer-main">
  <p>THREE PIZZAS! I think I’m going to burn out soon, or at least stop thinking of things to write here. I should do something other than a timelapse for this pizza…</p>
  <p>Just ordered the pizza. Don't feel too hungry right now and I thought about branching out into some special toppings, but I only have $20 cash in my apartment and I'd have to walk 3 blocks to the bank in 91 degrees to get more money.</p>
  <p>Cheese will be good by the time it gets here.</p>
  <p>Gonna share this one with Jillian. I guess I should update the website so I can share the pizza without feeling guilty.</p>
  <p>If 100 people bought me pizza in a day would they be upset if I threw a huge pizza party? Could they ask for their money back?</p>
  <p>I just converted the site from Sinatra to rails and I'm gonna do a big update soon. Gonna be dope. Thinking of taking away the $12 option.</p>
  <p>Jillian is here now but the pizza is not.</p>
</div>
