<div class="famer" id="chrissy">
  <p class="famer-name">#5. Chris Clark</p>

  <div class="famer-main">
    <p>Ok things are a little different this time: gonna order from Domino’s (had to look up whether that apostrophe is part of the official spelling.) I don’t have any cash and their “online order timeline” thing is too amazing to pass up. Probably gonna get extravagant here and spend like $25 because you can’t order from Domino’s and not get cinnasticks.</p>
    <%= s3_image_tag('pete.png') %>
    <p>It’s raining though so I feel a little bad for the delivery guy.</p>
    <p>Almost made a pizza profile.</p>
    <p>I have the Domino’s tracker open in an inactive tab and I started doing other stuff. Very terrifying to hear a random “ALRIGHT! YOUR PIZZA IS NOW IN THE OVEN” in the voice of Pete The Pizzamaker when you don’t expect it.</p>
    <p>Been in “quality check” for almost 20 minutes. What is wrong with my pizza.</p>
    <p>Decided to switch to the tropical order tracker theme. Now a parrot tells me “We be quality checking your order man, and it be looking soon good.”</p>
    <%= s3_image_tag('parrot.png') %>
    <p>The three-quarter mark of waiting for a pizza is truly one of the deepest despairs. Anticipation and hunger are at level 10, hope at level 0.</p>
    <p>Ok he came in an Acura so I don’t feel too bad.</p>
    <p>I ordered TWO cinnastick sauces but only got ONE. WTF!!!!! Now I’m never making a pizza profile.</p>
  </div>
</div>
