<div class="famer" id="ilan">
  <p class="famer-name">#10. Ilan Zechory</p>

  <div class="famer-main">
    <p>I’m sitting at my table with a tab open to the Domino’s pizza builder. Jillian is rolled up in a blanket on the couch waiting for me to finish ordering the pizza, but I’m responding to an email from Tom about Star Wars. I love the pizza builder — after 5 or 6 steps of tedious customization, bargaining, and second-guessing, I end up with a normal cheese pie… I wonder if this says something about me.</p>
    <p>They’re <a target="_blank" href="https://www.google.com/search?q=we+re+pushing+leotards&&tbm=isch">really pushing extra cheese</a>. In the final steps of ordering, after passing on the extra cheese checkbox, they prompt you with a popup: “are you sure you don’t want extra cheese?”</p>
    <%= image_tag('cheese.png') %>
    <p>The pictures they use to visualize your custom pizza are so unappealing — if I add mushrooms, they overlay the same poorly photoshopped image of a mushroom, rotated 3 different ways, across the surface of the fake looking pizza. How hard would it be to photograph 100 different pizza variations? Probably hard, idk man I’m not a food expert and I guess Domino’s pizzas usually look gross even though they’re godly.</p>
    <p>I wonder if they developed this website in-house or through an agency… what if I left Genius to work on the Domino’s website, I don’t think anyone could be mad at me.</p>
    <p>I am still customizing the pizza. Jillian thinks a cheddar topping will be gross but i disagree, so I’m getting it on half (post-eating note: it was great.) I’m on the checkout screen now and even though I just went through a whole pizza customization thing, they’re showing me a generic thumbnail image for my pizza order, and it has pepperoni on it! Why.</p>
    <%= image_tag('preview.png') %>
    <p>I don’t know how I can rank hearing Pete The Pizzamaker’s first utterance of “Allllllright” in the pizza tracker — I’ve built up a pavlovian response. My order has officially been placed. It’s gonna be 11pm before i’m eating pizza. Jillian is passively mad.</p>
    <p>Sabrina put my pizza in the oven very quickly. Thank you Sabrina. Sorry you have to work Sunday night Sabrina. She’ll never know that I know her name, and what she’s doing and where she is right now. Why does Domino’s put the name of the pizza people at the bottom of this thing. Yi is now driving the pizza to me.</p>
    <%= image_tag('sabrina.png') %>
    <%= image_tag('yi.png') %>
    <p>I’ve been watching videos on Japanese androids for the last few minutes. They love a good android over there. Please watch this from 0:25—0:38, the part where they cut to the dislodged face skin of the repurposed sex robot:</p>
    <iframe
      width="560"
      height="315"
      src="//www.youtube.com/embed/WhzbFaNueKU?t=25&rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p>We are in the 20th minute of waiting, send help. I’ve been occupying myself by laughing at this video for the past 5 minutes straight:</p>
    <iframe
      width="560"
      height="315"
      src="//www.youtube.com/embed/ZeQd_GzIz1M?rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p><strong>Notes</strong></p>
    <ul>
      <li>I tried the twitter order and it’s <a target="_blank" href="https://twitter.com/ehmorris/status/683833680524111873">not as was advertised</a> :( It’s not easy if I have to sign up for a pizza profile first!</li>
    </ul>
  </div>
</div>
