<div class="famer" id="ilan">
  <p class="famer-name">#10. Ilan Zechory</p>

  <div class="famer-video">
    <%= render partial: "partials/famer_video", locals: { video_id: "PnGnjF0Klh4" } %>
  </div>

  <div class="famer-main">
    <p></p>
  </div>
</div>
