<p class="famer-name">Joel Oliveira</p>
<p class="famer-timeline"></p>

<div class="famer-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3udj8MTuIyE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="famer-main">
  <p>Carry around headband, film pizza from first person</p>
</div>
