<p class="famer-name">Joel Oliveira</p>

<div class="famer-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3udj8MTuIyE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="famer-main">
  <p>Joel I totally forgot to take pizza notes when I ate this pizza. I am sorry. But it was my first in-the-wild edition of pizza timelapses. I did have an idea though that I wrote down: for a tech-heavy version of buy.edwin.pizza, I could wear a go-pro head-banded to my head and film my pizza-eating from the first person.</p>
  <p>I also feel a little bad Joel because I ate this pizza in Boston and you live in Boston, so it’s like… why didn’t I eat this pizza *with* you? And that’s fair, and I probably should have, but I also had a very strict schedule of playing GTA V with my old roommate that I had to keep.</p>
</div>
