<p class="famer-name">Mat Brown</p>
<p class="famer-timeline"></p>

<div class="famer-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/liUr3HBo_Eo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="famer-main">
  <p>Two months is too long. Maybe I should shut this thing down.</p>
  <p>I work with mat and today is a weekday, which means I'm forgoing eating dinner with mat, to eat a pizza that he bought for me.</p>
  <p>I have this new video intercom system in my apartment (I used to not have a functioning buzzer) and I'm not exactly sure how to use it, but it beats being nervous about a phone call. There are 4 buttons and 3 knobs. The 2 large buttons are clearly "hang up" and "open door" but the other two are just labeled "1" and "2" and they don't seem to allow me to talk... The knobs are for "volume" "brightness" and "music symbol" which seems to indicate that I should be able to hear/speak through the thing.</p>
  <p>WOAH No joke I just started to figure this out while holding my phone and typing. Seems like holding down "2" activates the camera just... Whenever. And then pressing the hang up button turns the audio on, so I guess it's just a "phone" button and not a Hangul buttons. "1" seems to do nothing. Then you had to press the phone button to deactivate and the phone, and hold 2 down again to turn things off. Funny because the camera turns on a bright led array when active, so people walking by are seeing my intercom light up and possibly hearing me. More testing...</p>
  <p>Ok you don't need to hold 2 just press it. Man I need a fucking manual. Damn I found a manual but it's a wiring guide for the whole system. Ok number 2 is the "cut off button" and 1 is the "intercom button" so maybe that's letting me speak. I feel like my buttons are wired incorrectly. Brian!</p>
  <p>Damn, well, the delivery guy called me.</p>
  <p>Man this time lapse is a little too fast, I need to use hyper lapse next time. I took the trash out and changed into pants and everything and you can barely tell</p>
  <p>Just remembered I've eaten pizza for lunch today too</p>
</div>
