<div class="famer" id="mat">
  <p class="famer-name">#8. Mat Brown</p>

  <div class="famer-main">
    <p>Two months is too long. Maybe I should shut this thing down. The pizzas weigh on me, I am weary.</p>
    <p>I work with Mat and today is a weekday, which means I’m forgoing eating dinner with Mat, to eat a pizza that he bought for me (alone.)</p>
    <p>There’s a new video buzzer system in my building (I used to have a non-functioning buzzer) and I’m not exactly sure how to use it. This is my chance. There are 4 buttons and 3 knobs. The 2 large buttons are clearly “hang up” and “open door” but the other two are just labeled “1” and “2” and they don’t seem to allow me to talk… The knobs are for “volume”, “brightness”, and “music symbol” which seems to indicate that I should be able to hear/speak through the thing.</p>
    <p>WOAH No joke I just started to figure this out while holding my phone and typing this note. Seems like holding down “2” activates the camera. Pressing the hang up button turns the audio on (receiving), so I guess it’s just a “phone” button and not a hangup button. “1” still seems to do nothing. To turn the thing off, it seems like you have to press the phone button and then hold down 2. As I’m testing this thing I can see people walking by my building — funny because the camera activates a very bright LED array whenever it’s on. I wonder if those people can hear me…</p>
    <p>Ok you don’t need to hold 2, you just need to press it. Man I need a manual. I found one online but it’s a wiring guide for the whole system. Ok the 2 button is the “cut off button” and 1 is the “intercom button” according to a new manual I found, so maybe 1 is supposed to let me speak. I feel like my buttons are wired incorrectly.</p>
    <p>Damn, well, the delivery guy called me.</p>
    <p>Man this time lapse is a little too fast, I need to use hyper lapse next time. I took the trash out and changed into pants and everything and you can barely tell.</p>
    <p>Just remembered I ate pizza for lunch today too.</p>
  </div>
</div>
