<div class="famer" id="oppidraeger">
  <p class="famer-name">#17. Andrew Oppeneer &amp; Draeger Gillespie</p>

  <div class="famer-main">
    <p>First I’d like to thank Calvin for this Pizza Man pin, I often think of myself as a pizza man, it’s very important to me.</p>
    <%= s3_image_tag('pizza_man.jpg') %>
    <p>Second I’d like to thank Brad, Max, and Michael for agreeing to be in my video and playing a live accompaniment. I’d also like to thank Max individually for letting me know that one of my house plants is actually edible — when you walked into my apartment and immediately began eating one of my plants, I was at first offended, but I’m now delighted to know it tastes kinda like an apple. Jillian has so far refused to try this.</p>
    <p>For this video I bought three 18” plain pizzas from <a target="_blank" href="https://www.briefs.fm/edwin/50">Giardini</a> — one for the crew and two for the video. Eating two pizzas was a big mistake. I felt very sick after this video. I will never do this again. If you count slices you can tell that I ate one whole 18” pizza between the two pies, and if you watch very closely, you can tell that I didn’t drink anything the entire time — this too was a big mistake.</p>
    <p>My Facebook live setup is very primitive — just a phone on a cheap tripod. While we were on the bed, we had no idea how many people, if any, were watching, what the shot looked like, or how long the video had been going. <a target="_blank" href="https://youtu.be/Si0RroNn7Rg">We all sat down around my TV after the show and watched the entire video</a> — then we watched videos of jungle animals encountering a large mirror:</p>
    <iframe
      width="560"
      height="315"
      src="//www.youtube.com/embed/UZAO_07GdSs?t=25&rel=0&showinfo=0&loop=1&controls=1&modestbranding=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <p>My next pizza will have to be relaxing. Maybe I’ll eat a very small pizza on a beach with a milkshake.</p>
  </div>
</div>
