<div class="famer" id="sam">
  <p class="famer-name">#4. Sam Balinghasay</p>

  <div class="famer-video">
    <%= render partial: "famer_video", locals: { video_id: "vjV1Vmex6nA" } %>
  </div>

  <div class="famer-main">
    <p>I was out sick from work today so ordering pizza is probably not a good idea.</p>
    <p>I’ve been thinking I should film myself eating in more interesting locations, or at least eating pizza from somewhere other than Pauline and Sharon’s. That makes my life so much more difficult though.</p>
    <p>James said “I like how you’ve created this problem for yourself.” It’s true, I’ve basically created a public todo list that people can pay to use. And the todo is only one thing. And I get to choose when to do it. Ok maybe it’s not so bad.</p>
    <p>I wonder what I’ll do this Labor Day weekend. Probably nothing exciting. I read this piece in the NYTimes the other day that said something like “procrastinators tend not to go on vacation because they avoid planning things” — seems to describe my vacation aversion pretty well.</p>
    <p>It’s been 32 minutes which means I have a 50/50 chance of getting my pizza RIGHT NOW or getting it in another 30.</p>
    <p>I have no ranch left. I can’t believe I done this.</p>
    <p>I have to leave my house which negates the entire point of getting delivery.</p>
    <p>Oh wait no I have a little left. Nvm.</p>
  </div>
</div>
