<div class="famer" id="slickk">
  <p class="famer-name">#9. Sonny Romeo</p>

  <div class="famer-video">
    <%= render partial: "partials/famer_video", locals: { video_id: "zg9FIwCmx5w" } %>
  </div>

  <div class="famer-main">
    <p></p>
  </div>
</div>
