<div class="famer" id="slickk">
  <p class="famer-name">#9. Sonny Romeo</p>

  <div class="famer-main">
    <p>I have successfully seeded the Genius community. The process of getting this pizza was amazing — I didn’t have to do anything. I rolled out a few upgrades to the chat feature on Genius, and <a target="_blank" href="https://genius.com/discussions/191424-Chat-improvements">in the announcement thread</a>, ScopeY said “edwin deserves a pizza”, Slick said “I’d buy you a pizza m8”, night pool pasted the link to this website, and then Slick actually bought me the pizza.</p>
    <%= image_tag('deserving.png') %>
    <%= image_tag('themoment.png') %>
    <p>A nice little bonus on top of my salary — maybe I could become a full-time Muk-bang star like that one Korean kid. I think the key to something like that is frequency, you’ve gotta broadcast at least once a day to gain any kind of traction or people will forget about you. Pewdiepie uploaded a video every day and now uploads 3 or 4 per day (with the help of others.) Although I could just end up like <a target="_blank" href="https://www.youtube.com/user/TheReportOfTheWeek/videos">TheReportOfTheWeek</a> guy with a mediocre number of views on lots of videos.</p>
    <p>I wonder if Slickk is mad at me about the new song page.</p>
    <p>I’ve ordered this pizza and now every time I hear a moped outside I salivate. I’m passing the time watching this thing called Ballet 422 and I don’t know how I feel about ballet but I am now positive that old iOS interfaces date a movie instantly. This guy Justin Peck is some kind of ballet choreography prodigy but he’s ending every sentence of feedback with “I don’t know” when he talks to the dancers. Justin went up to the costume designer and the designer asked what kind of shoes he should make — Justin said “that’s up to you” and the designer said “we’ll ask the girls”… bruh.</p>
    <p>I’m gonna try using hyperlapse for the recording this time — it’s crazy how little control the iOS time-lapses give you. The Hyperlapse logo is a ring with a gradient going through it — all their other apps like “layout” do the same thing with other basic shapes, and I think the system is trying so hard to be minimalist that it misses being distinctive. The hyperlapse logo looks almost exactly like the Smart Things logo and neither even gesture towards what the app does.</p>
    <p>OMG it’s been 45 mins wtf I need the pizza tracker. I’d pay the delivery man $10 if he shared his location with me for the next hour.</p>
    <p>Back to this ballet thing. Are conductor hand movements helpful or is the guy just moshing up there? Ok <a target="_blank" href="http://www.nytimes.com/2012/04/08/arts/music/breaking-conductors-down-by-gesture-and-body-part.html">I read a thing about this</a> and apparently the movements are somewhat helpful — the volume etc. of the various parts of the orchestra can be adjusted live.</p>
    <p>AN HOUR? IT’S BEEN AN HOUR WHY. Ok nvm the pizza just came.</p>
  </div>
</div>
