<div class="famer stickem-container" id="stephen">
  <p class="famer-name">Stephen Niday</p>

  <%= render partial: "partials/famer_video", locals: { video_id: "4btICcOUkw0" } %>

  <div class="famer-main">
    <p>Wowowowow I actually got someone to buy me pizza, just because I put a buy button on a website! Ok well it doesn’t count like 100% because I know Stephen and we work together, but it’s still a free pizza… Stephen I hope you didn’t expense this lol.</p>
    <p>Stephen Niday. The first order. The Zeus to my pizza tree, the Cronus to my Zeus. Father of all future orders. First inductee to the hall of fame (yeah I looked up those Greek gods on wiki just now.) I kept a short diary while I waited for your pizza to arrive from Pauline and Sharon’s:</p>
    <ul>
      <li>I just ordered the pizza and the dude on the phone didn’t even say how long it would take! I am very hungry. There’s a cliff bar on my kitchen counter and I’m currently staring at it while typing on my phone. I guess a delivery estimate is a total guess anyways, maybe it’s best to leave it a mystery.</li>
      <li>20 minutes gone now. It will probably be an hour. What will life be like 40 minutes from now? Not good.</li>
      <li>I can make chocolate milk for myself and use my own ranch on the pizza. I have a good pizza setup here. I’m passing the time thinking about how I will eat the pizza.</li>
      <li>Holy shit it’s not even 9pm and the pizza is here! That’s less than 30 minutes!</li>
      <li>Turns out that delivery pizza (over the phone and paid in cash) is just $13 for a 14”. They don’t have that price posted anywhere — it’s like a secret cash discount. I tipped the guy $3 which puts me $1 in the hole. I’m now 35% of the way towards paying off this domain in pizza.</li>
    </ul>
    <p>I couldn’t finish it all. I heated up and ate the remaining two slices two days later, which means I ate the whole thing myself! Starting to question whether that’s a good policy though.</p>
    <p>I sent Stephen the full time-lapse video, proof of purchase, and a bonus picture of one of my plants. I have an oxalis that I bought a few months ago and it’s growing like crazzzzyyyy! Got shoots coming out of the soil like a foot high. I read on some gardening blogs that these plants die down annually and I’m gonna be really sad if all these bomb shoots die.</p>
  </div>
</div>
