<div class="famer" id="wylie">
  <p class="famer-name">#15. Wylie Conlon</p>

  <div class="famer-video">
    <%= render partial: "famer_video", locals: { video_id: "rZojgVucBTA" } %>
  </div>

  <div class="famer-main">
    <p>I send an email to whoever buys me pizza. When Wylie made a purchase I sent one with the subject: “Thank you for your $100 pizza purchase commitment” which I thought was pretty funny. I also kept telling him he’d receive a “communique” the night I ate the pizza, which was not as funny but still made me laugh.</p>
    <p>Life has been simple lately so I decided to spice things up and eat Wylie’s pizza outside of my home. I took the train to Columbus Circle after work and met up with Jillian — we walked through Central Park, exiting around The Frick Collection, and headed towards Lexington for the subway. Turns out there are no good pizza places near the park. When Jillian and I were in school together we were always meeting around the city: a coffee shop in the North End, a bookstore near Harvard, the 7/11 at Brigham Circle; now we always meet at our apartments, so it was nice to change things up.</p>
    <p>Normally it’s quiet between 5th and Lexington but there were lots of people running past us — first I thought nothing of it, then I figured they were running to catch a bus that had just passed through the intersection, then as we all stood together waiting to cross, I saw it on everyone’s phones — it was Pokemon Go.</p>
    <%= image_tag('pokemonrun.jpg') %>
    <p>I learned about Pokemon runs from <a target="_blank" href="https://www.youtube.com/watch?v=MLdWbwQJWI0">this video</a> — this night wasn’t quite as chaotic, but people were still biking, skateboarding, and running across three avenues (I never found out which Pokemon they were after.) At Lexington all the sprinters quietly huddled together with their friends, loitering outside restaurants, staring at their phones and laughing.</p>
    <p>We got on the subway and headed to Joe’s Pizza near Union Square.</p>
  </div>
</div>
