<form action="/charge_discount" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
    data-name="buy.edwin.pizza"
    data-description="medium cheese — $12.00, cause I’m a cheap dick"
    data-amount="1200">
  </script>
</form>
