<p>Wow I can’t believe you actually did that lmao.</p>
<p>Alright so you and I are both gonna get emails about this. I’m gonna order the pizza ASAP (could be today, could be this weekend) and post pictures of me eating it (and the receipt) on this website. I’ll let you know when I do that.</p>
<p>I’ll probably post something about it on twitter too, so you could <a href="https://twitter.com/ehmorris" target="_blank">watch for it there</a> or on <a href="https://instagram.com/ehmorris" target="_blank">my instagram</a>. Don't follow me though, it would be embarrassing. Just kidding I want you to follow me. I wrote this whole paragraph so you would follow me.</p>
