<div class="famer-video stickem">
  <iframe
    width="560"
    height="315"
    src="//www.youtube.com/embed/<%= video_id %>?rel=0&amp;showinfo=0"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
