body {
  font: normal 400 1.3rem/1.45 "Whitney SSm A", "Whitney SSm B";
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 1.05rem;
  }
}

form {
  text-align: center;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  text-align: center;
}

a {
  color: #1275ff;
  padding: .5em 0;
}

[data-targetable] {
  display: none;
}

[data-targetable].showing {
  display: block;
}
