body {
  font: normal 400 1.25rem/1.45 "Whitney SSm A", "Whitney SSm B";
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem calc(14vw + 1rem) 1rem 1rem;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 1.05rem;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.response {
  animation: fade-up .3s ease both;
  animation-delay: .5s;
  margin-right: -14vw;
  overflow: auto;
  padding: 0 0 .1em;
}

a {
  border-bottom: 1px solid #1275ff;
  color: #1275ff;
  padding: .5em 0 .05em;
  text-decoration: none;
}

[data-target] {
  float: right;
  text-align: right;
}

[data-targetable] {
  display: none;
}

[data-targetable].show {
  display: block;
}
