body {
  font: normal 1.2rem/1.45 sans-serif;
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
}

form {
  text-align: center;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  text-align: center;
}

a {
  color: inherit;
}

[data-targetable] {
  display: none;
}

[data-targetable].showing {
  display: block;
}
