<div class="conversation">
  <p>You know what to do</p>
  <%= render partial: "checkout_form", locals: { price: @price, form_label: "buy edwin pizza, $#{@price/100}", desc: "medium cheese — $#{@price/100}" } %>

  <div data-targetable class="conversation-pair show">
    <p class="conversation-response"><a href="#" data-target="domain_cost">Nah i’m not paying $15</a></p>
  </div>

  <div data-targetable="domain_cost" class="conversation-pair">
    <p>Look, this domain edwin.pizza costs $40 per year, which is half as much as I pay for edwin.xxx but still like 2–4 pizzas worth of cash. I’m charging $15 for a medium cheese. That’s a pretty good deal b/c I’m paying the tax and tip myself, and I live in Brooklyn which means pizza costs like $30. Plus integrating this payment stuff is hard.</p>
    <p class="conversation-response"><a href="#" data-target="what_happens">What will you do for me?</a></p>
  </div>

  <div data-targetable="what_happens" class="conversation-pair">
    <p>At first I thought I’d let people make a delivery order to my apartment, any time of the day — it was gonna be a social experiment like jennicam. But that’s crazy so instead the money just goes into my bank account (lol.)</p>
    <p class="conversation-response"><a href="#" data-target="wait_what">Wait what?</a></p>
  </div>

  <div data-targetable="wait_what" class="conversation-pair">
    <p>I’ll buy a whole cheese pizza that costs around $15 ASAIC (as soon as is convenient), then I’ll post pics or vids of me eating it on this website. Maybe I’ll send you a funny email, maybe I’ll post a review — the possibilies are endless and I think you and I are the right team to figure it out.</p>
    <p class="conversation-response"><a href="#" data-target="where_you_getting_the_pizza">Where would you get it?</a></p>
  </div>

  <div data-targetable="where_you_getting_the_pizza" class="conversation-pair">
    <p>Please stop asking me questions and just buy the pizza.</p>
    <p class="conversation-response"><a href="#" data-target="cmon">C’mon</a></p>
  </div>

  <div data-targetable="cmon" class="conversation-pair">
    <p>Fine. The best place is Pauline and Sharon’s, so I’ll probably order from there. Did you know they charge like $3 more for all their pizzas on Seamless vs. calling? The worst place is definitely Vinny’s, I had a weird experience there and I used to have the story on this website, but I decided to remove it cause it’s uncomfortable. Anyways…</p>
    <p class="conversation-response"><a href="#" data-target="final_offer">I’m still not paying $15</a></p>
  </div>

  <div data-targetable="final_offer" class="conversation-pair">
    <p>$12 is my final offer.</p>
    <%= render partial: "checkout_form", locals: { price: @discount_price, form_label: "buy edwin some cheap discount pizza", desc: "medium cheese — $#{@discount_price/100}, cause I’m cheap" } %>
  </div>
</div>
