@import 'imports/media_queries';

body {
  background: #000;
  color: #fff;
  font: normal 400 1.8vw/1.45 "Mercury SSm A", "Mercury SSm B";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  @include if_narrower_than(1000px) {
    font-size: 1.2rem;
  }
}

p { margin: 1em 0; }

a { color: inherit; }

ul, ol { padding: 0; }

li {
  list-style-type: none;
  margin: 1em 0;
  position: relative;

  &:before {
    content: '—';
    margin-right: .2em;
    position: absolute;
    right: 100%;
  }
}
