body {
  font: normal 400 1.25rem/1.45 "Whitney SSm A", "Whitney SSm B";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  @include if_narrower_than(400px) {
    font-size: 1.05rem;
  }
}

a {
  border-bottom: 1px solid $link_color;
  color: $link_color;
  padding: .5em 0 .05em;
  text-decoration: none;
}
