body {
  background: #000;
  color: #fff;
  font: normal 400 1.5rem/1.45 "Mercury SSm A", "Mercury SSm B";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  @include if_narrower_than($column_layout_breakpoint) {
    font-size: 1.2rem;
  }  
}

p { margin: 1em 0; }

a {
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: .05em;
  text-decoration: none;
}

ul, ol {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 1em 0;
  position: relative;

  &:before {
    content: '—';
    margin-right: .2em;
    position: absolute;
    right: 100%;
  }
}
