@import 'imports/media_queries';

$column_layout_breakpoint: 700px;

.famer { margin: 6rem 0; }

.famer-name {
  font-size: 8.5vw;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-left: -0.3em;
}

.famer-main {
  img {
    display: block;
    margin: 1em 0;
    max-width: 100%;

    @include if_wider_than($column_layout_breakpoint) {
      transform-origin: left center;
      transition: all .2s;

      &:hover {
        transform: scale(2);
        box-shadow: 0 .5em 1em rgba(0, 0, 0, .4);
        cursor: zoom-in;
      }
    }
  }

  small {
    color: #eee;
    display: inline-block;
    font-size: .8em;
    font-style: italic;
  }
}
