@import 'imports/media_queries';

.famer {
  padding-bottom: 50vh;
  transition: opacity 2s;

  .video_in_focus & { opacity: .3; }
}

.famer-name {
  align-items: flex-start;
  display: flex;
  font-size: 12vw;
  font-weight: 700;
  height: 50vh;
  line-height: 1.2;
  margin: 0;
  text-indent: -1em;
  width: 100%;
}

.famer-main {
  img {
    display: block;
    margin: 1em 0;
    max-width: 100%;

    @include if_wider_than(700px) {
      transform-origin: left center;
      transition: all .2s;

      &:hover {
        transform: scale(2);
        box-shadow: 0 .5em 1em rgba(0, 0, 0, .4);
        cursor: zoom-in;
      }
    }
  }

  small {
    color: #eee;
    display: inline-block;
    font-size: .8em;
    font-style: italic;
  }
}
