.famer {
  margin: 4rem 0;
}

.famer-name {
  font-weight: bold;
}

.famer-video {
  background: #ccc;
  margin: 0 -8vw;

  @include if_narrower_than(600px) {
    margin: 0 -1rem;
  }  
}

.famer-main {
  img {
    max-width: 100%;
  }

  small {
    color: #444;
    display: inline-block;
    font-size: .8em;
    font-style: italic;
  }
}
