@import 'imports/color_variables';

@mixin border_gradient($rotation: 0deg) {
  border-image: linear-gradient(
    $rotation,
    $color_pizza_1,
    $color_pizza_2,
    $color_pizza_3,
    $color_pizza_4,
    $color_pizza_5,
    $color_pizza_6,
    $color_pizza_7
  ) 10;
}

.rotating_gradient_border {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.rotating_gradient_border-gradient_state {
  border-style: solid;
  border-width: 1rem;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

$animation_steps: 10;
$animation_duration: 1;
$fade_in_mark: 100 / $animation_steps;

@keyframes cycle_opacity {
  0%, #{$fade_in_mark * 2}%, 100% { opacity: 0; }
  #{$fade_in_mark}% { opacity: 1; }
}

@for $i from 1 through $animation_steps {
  $gradient_degree: (360 / $animation_steps) * ($i - 1);
  $animation_delay: ($animation_duration / $animation_steps) * ($i - 1);

  .rotating_gradient_border-gradient_state--#{$i} {
    @include border_gradient(#{$gradient_degree}deg);
    animation: cycle_opacity;
    animation-duration: #{$animation_duration}s;
    animation-delay: #{$animation_delay}s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: $i;
  }
}
