.video_background {
  @include position(fixed, 0 0 0 0);
  opacity: .1;
  z-index: -1;

  &:before {
    @include position(absolute, 0 0 0 0);
    content: '';
    z-index: 2;
  }
}

.video_background-video {
  @include transform(scale(1.5));
  border: 0;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
