.video {
  bottom: 0;
  left: 0;
  opacity: .6;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 2s;
  z-index: -1;

  .video_in_focus & { opacity: 1; }
}

.video--hide { transform: translateX(-100%); }

.video-cover {
  border-color: #000;
  border-style: solid;
  border-width: 10vh 0;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  @media screen and (max-width: 650px) and (max-height: 500px) {
    border-width: 2vh 0;
  }
}

$border_size: 12vw;
$tiny_border_size: 1.5rem;

.video-element {
  height: 100%;
  margin: 0 $border_size;
  width: calc(100% - #{$border_size * 2});
  z-index: 1;

  @media screen and (max-width: 650px) {
    margin: 0 $tiny_border_size;
    width: calc(100% - #{$tiny_border_size * 2});
  }
}
