<p class="famer-name">Ben Whitla</p>
<p class="famer-timeline">bought 7/17/15, pending</p>

<div class="famer-main">
  <p>THREE PIZZAS! I think I’m going to burn out soon, or at least stop thinking of things to write here. I should do something other than a timelapse for this pizza… but what?</p>
</div>
