<div class="hall_of_fame">
  <p>These people bought me pizza. You should buy me pizza.</p>

  <div class="hall_of_fame-famer hall_of_fame-famer--pending">
    <%= render partial: "famers/ben" %>
  </div>
  <div class="hall_of_fame-famer">
    <%= render partial: "famers/alex" %>
  </div>
  <div class="hall_of_fame-famer">
    <%= render partial: "famers/stephen" %>
  </div>
</div>
