<%
  options = {
    list: "PL19el1jXRTlEdAC8f2G1NscNAdjb6z97Z",
    controls: 0,
    showinfo: 0,
    modestbranding: 1,
    disablekb: 1,
    cc_load_policy: 0,
    iv_load_policy: 3,
    autoplay: 1,
    loop: 1,
    enablejsapi: 1
  }
%>

<div class="video_background">
  <iframe class="video_background-video" src="https://www.youtube.com/embed/videoseries?<%= options.to_param %>"></iframe>
</div>
