<div slides class="conversation">
  <div slide class="conversation-pair">
    <div>
      <p><strong>K, well that didn’t work so thanks for nothing.</strong></p>
    </div>
    <div>
      <%= link_to root_path, class: "conversation-response" do %>
        <span class="conversation-response-link">Sorry</span>
      <% end %>
    </div>
  </div>
</div>
