<div class="scroll">
  <div id="mobius_top_trigger" class="scroll-blank_panel scroll-blank_panel--black"></div>
  <div class="scroll-blank_panel scroll-blank_panel--black"></div>
</div>

<div class="container_with_horizontal_padding success_message">
  <p>Wow I can’t believe you actually did that lmao.</p>
  <p>Alright so here’s the deal: I just got a notification about this and I’m gonna send you an email later today — we’re gonna talk about pizza</p>
  <p>Eventually I’ll order the pizza you bought me, I may even make a video of myself eating this pizza, I may even write a cute pizza journal and put it on this website. I’ll let you know when I do all these things.</p>
  <p>For now I simply ask that you close this tab and think over the life decisions that brought you here.</p>
</div>

<div class="scroll">
  <div class="scroll-blank_panel scroll-blank_panel--black"></div>
  <div class="scroll-gradient_panel">
    <div class="scroll-gradient scroll-gradient--left_panel"></div>
    <div class="scroll-gradient scroll-gradient--center_panel"></div>
    <div class="scroll-gradient scroll-gradient--right_panel"></div>
  </div>
  <div class="scroll-blank_panel scroll-blank_panel--white"></div>
  <div id="mobius_bottom_trigger" class="scroll-blank_panel scroll-blank_panel--white"></div>
</div>
