<div class="rotating_gradient_border">
  <% 10.times do |n| %>
    <div class="rotating_gradient_border-gradient_state rotating_gradient_border-gradient_state--<%= n + 1 %>"></div>
  <% end %>
</div>

<div class="container_with_horizontal_padding">
  <p>Wow I can’t believe you actually did that lmao.</p>
  <p>Alright so here’s the deal: I just got a notification about this and I’m gonna send you an email later today — we’re gonna talk about pizza</p>
  <p>Eventually I’ll order the pizza you bought me, I may even make a video of myself eating this pizza, I may even write a cute pizza journal and put it on this website. I’ll let you know when I do all these things.</p>
  <p>For now I simply ask that you close this tab and think over the life decisions that brought you here.</p>
</div>
