<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta property="fb:pages" content="120694018629989">
    <title>buy.edwin.pizza, please</title>
    <%= stylesheet_link_tag "application" %>
    <link href="/favicon.png" rel="icon" type="image/png" />
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js", async: Rails.env.production? %>
  <%= javascript_include_tag "application", async: Rails.env.production? %>
</html>
